.button {
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-flex;
  transition: all 0.16s ease-out;
  font-weight: 500;
  line-height: normal;
  font-family: var(--jp-font);
  font-family: 'Noto Sans JP', sans-serif;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
}
.button:hover {
  filter: drop-shadow(0px 2px 8px rgba(0, 64, 93, 0.24));
  transform: scale(1.04);
}
.button:active {
  filter: none;
  transform: scale(1);
}
.buttonSmall {
  font-size: 13px;
  padding: 6px 14px 7.5px;
}
.buttonRegular {
  font-size: 15px;
  padding: 9px 18px 11px;
}
.buttonMedium {
  font-size: 17px;
  padding: 12.5px 24px 15.5px;
}
.buttonLarge {
  font-size: 19px;
  padding: 16px 32px 19px;
}
.buttonPrimary {
  color: white;
  background-color: var(--primary-50);
}
.buttonPrimary:hover {
  background-color: var(--primary-40);
}
.buttonPrimary:active {
  background-color: var(--primary-60);
}
.buttonLight {
  color: var(--primary-90);
  background-color: var(--secondary-10);
}
.buttonLight:hover {
  background-color: var(--secondary-05);
}
.buttonLight:active {
  background-color: var(--secondary-20);
}
.buttonRed {
  color: var(--white);
  background-color: var(--red-50);
}
.buttonRed:hover {
  background-color: var(--red-40);
}
.buttonRed:active {
  background-color: var(--red-60);
}
.buttonDark {
  color: var(--white);
  background-color: var(--primary-80);
}
.buttonDark:hover {
  background-color: var(--primary-70);
}
.buttonDark:active {
  background-color: var(--primary-90);
}
.buttonWhite {
  color: var(--primary-90);
  background-color: var(--white);
}
.buttonWhite:hover {
  background-color: var(--white);
}
.buttonWhite:active {
  background-color: var(--secondary-10);
}
.button svg {
  display: block;
}
.buttonSmall p {
  padding: 0 6px;
}
.buttonRegular p {
  padding: 0 8px;
}
.buttonMedium p {
  padding: 0 10px;
}
.buttonLarge p {
  padding: 0 12px;
}
.buttonSmall svg {
  width: 12px;
  height: 12px;
}
.buttonRegular svg {
  width: 16px;
  height: 16px;
}
.buttonMedium svg {
  width: 20px;
  height: 20px;
}
.buttonLarge svg {
  width: 24px;
  height: 24px;
}
