:root {
  --white: #ffffff;
  --black: #000000;
  --mousepointerstatus-enabled: #ffffff;
  --mousepointerstatus-hovered: #eaeaea;
  --mousepointerstatus-focused: #dadada;
  --mousepointerstatus-actived: #eaeaea;
  --mousepointerstatus-disabled-background: rgba(0, 0, 0, 0.12);
  --mousepointerstatus-disabled-text: rgba(0, 0, 0, 0.26);
  --primary-90: #00202f;
  --primary-80: #00405d;
  --primary-70: #00608c;
  --primary-60: #0080ba;
  --primary-50: #00a0e9;
  --primary-40: #33b3ed;
  --primary-30: #66c6f2;
  --primary-20: #99d9f6;
  --primary-10: #ccecfb;
  --primary-05: #e5f5fd;
  --primary-01: #f3fbff;
  --secondary-90: #203e4d;
  --secondary-80: #375e71;
  --secondary-70: #4d7f96;
  --secondary-60: #649fba;
  --secondary-50: #7abfdf;
  --secondary-40: #95cce5;
  --secondary-30: #afd9ec;
  --secondary-20: #cae5f2;
  --secondary-10: #e4f2f9;
  --secondary-05: #f2f9fc;
  --yellow-90: #514f10;
  --yellow-80: #7d7920;
  --yellow-70: #a8a42f;
  --yellow-60: #d4ce3f;
  --yellow-50: #fff84f;
  --yellow-40: #fff972;
  --yellow-30: #fffb95;
  --yellow-20: #fffcb9;
  --yellow-10: #fffedc;
  --yellow-05: #fffeed;
  --red-90: #2f040b;
  --red-80: #5e0816;
  --red-70: #8d0c22;
  --red-60: #bc102d;
  --red-50: #eb1438;
  --red-40: #ef4360;
  --red-30: #f37288;
  --red-20: #f7a1af;
  --red-10: #fbd0d7;
  --red-05: #fde7eb;
  --green-90: #208a2b;
  --green-80: #3fa749;
  --green-70: #5dc368;
  --green-60: #7ce086;
  --green-50: #9afda4;
  --green-40: #aefdb6;
  --green-30: #c2fec8;
  --green-20: #d7fedb;
  --green-10: #ebffed;
  --green-05: #f5fff6;
  --text-90: #000000;
  --text-80: #161513;
  --text-70: #21201c;
  --text-60: #2c2a26;
  --text-50: #37352f;
  --text-40: #55534d;
  --text-30: #72706a;
  --text-20: #908e88;
  --text-10: #adaba5;
  --text-text-primary: #37352f;
  --text-text-secondary: #878682;
  --text-text-disabled: #d7d7d5;
  --text-05: #bcbab4;
  --other-boder: rgba(0, 0, 0, 0.13);
  --other-background-sahde: #f7f7f7;
  --other-background-primary: #ffffff;

  --shadow-10: 0px 8px 24px rgba(0, 64, 93, 0.04);
  --shadow-20: 0px 10px 32px rgba(0, 64, 93, 0.08);
  --shadow-30: 0px 10px 40px rgba(0, 64, 93, 0.12);
  --shadow-40: 0px 10px 40px rgba(0, 64, 93, 0.18);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  /* font-family: var(--jp-font); */
  font-family: 'Noto Sans JP', sans-serif;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--primary-90);
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.16s ease-out;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  line-height: normal;
}

main {
  min-height: 200vh;
  padding: 80px 0 0;
}

@media screen and (max-width: 920px) {
  main {
    padding: 64px 0 0;
  }
}
