.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.home p {
  font-size: 32px;
}

.weight300 {
  font-family: var(--jp-font);
  font-weight: 300;
}
.weight400 {
  font-family: var(--jp-font);
  font-weight: 400;
}
.weight500 {
  font-family: var(--jp-font);
  font-weight: 500;
}
.weight700 {
  font-family: var(--jp-font);
  font-weight: 700;
}
